/*@import url(reset.css);*/
@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
    background-color: #272727;
    color:whitesmoke;
    margin: 0;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 1.8em;
}

header{
    background-color: #13a76b;
    padding: 2em;
    text-align: center;
    background-size: cover;
    background-position: fixed;
}

header section{
    max-width: 640px;
    margin: 0 auto;
}

img{
    height: 150px;
    width: auto;
    border-radius: 100px;
}

h1{
    text-transform: uppercase;
    margin: 1em 0;
}

section{
  margin: 1em;
  padding: 1em;
}

a{
    text-decoration: none;
    color:whitesmoke;
}

a:hover{
    opacity: 0.5;
}


.fab{
    
    font-size: 1.5em;
    margin: 5px;
    width: 1.5em;
    height: 1.5em;
    /*border: 1px solid whitesmoke;*/
    text-align: center;
    /*border-radius: 50%;*/
    line-height: 1.5em;
    
}

