@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
    background-color: #272727;
    color:whitesmoke;
    margin: 0;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 1.8em;
}

header{
    background-color: #13a76b;
    padding: 2em;
    text-align: center;
    background-size: cover;
    background-position: center;
}

header section{
    max-width: 640px;
    margin: 0 auto;
}

img{
    height: 150px;
    width: auto;
    border-radius: 100px;
}

h1{
    text-transform: uppercase;
    margin: 1em 0;
}

section{
    padding: 1em;
}

a {
    text-decoration: none;
    color:whitesmoke;
    
}
